@model Metro.Models.Mapa

@using Metro.Models

<h2>Pogled2 @ViewBag.Message</h2>


@{
    var m = TempData["Metro"] as Mapa;    
}
 

<table>
      <th>Ime Metroa: @m.ImeMetroa</th>
    <tr>
        <th>Start Rute</th>
        <th>Kraj Rute</th>
        <th>Duljina Rute</th>
    </tr>
    @{ var Lista = m.KonstrukcijaRuta();}
    
     @foreach (Ruta r in Lista) { 
      <tr>   
      <td>From @r.Start.KvartIme</td>
      <td>to @r.Kraj.KvartIme </td>
      <td>-> @r.Duljina </td> 
   </tr>}
</table>