@model Metro.Models.Mapa

@using Metro.Models



@{
    var m = TempData["M"] as Mapa;
}

<b>Duljina trazene rute:</b>@ViewBag.Message
string c2 = c[0] + c.Substring(1).ToLower();

<table>
      <th>Ime Metroa: @m.ImeMetroa</th>
    <tr>
        <th>Start Rute</th>
        <th>Kraj Rute</th>
        <th>Duljina Rute</th>
    </tr>
    @{ var Lista = m.KonstrukcijaRuta();}
    
     @foreach (Ruta r in Lista) { 
      <tr> 
          @{ 
       
       
       string kraj = r.Kraj.KvartIme[0] + r.Kraj.KvartIme.Substring(1).ToLower();
       string start = char.ToUpper(r.Start.KvartIme[0]) + r.Start.KvartIme.Substring(1).ToLower();
       }
      <td>From @start</td>
      <td>to @kraj </td>
      <td>-> @r.Duljina </td> 
 
   </tr>}
     
</table>

<table>
      <th>Ime Metroa: @m.ImeMetroa</th>
    <tr>
        <th>Start Rute</th>
        <th>Kraj Rute</th>
        <th>Duljina Rute</th>
    </tr>
    @{ var lista = m.KonstrukcijaRuta();}
    
     @foreach (Ruta r in lista) { 
      <tr>   
      <td>From @r.Start.KvartIme</td>
      <td>to @r.Kraj.KvartIme </td>
      <td>-> @r.Duljina </td> 
 
   </tr>}
     
</table>

<b><a href="http://localhost:50109/ "> Back to main page</a> </b>