
@model  List<string>
@using Metro.Models



 @using (Html.BeginForm("zagreb", "zagrebmetro", FormMethod.Post, new { id = "zg" }))
 {   <p>Input stations:</p>
     
    <br />
    @:First station @Html.TextBoxFor(x => x[0])<br/>
    @:Second station @Html.TextBoxFor(x => x[1])<br />
    @:Third station @Html.TextBoxFor(x => x[2])<br/>
    @:Fourth station @Html.TextBoxFor(x => x[3])<br />
    @:Fifth station @Html.TextBoxFor(x => x[4])<br />
   
    
    <input type="submit" value="Get distance" />
    
}

<br>





@section scripts{

    
    <script type="text/javascript">
        $(function () {

            var myObject =["MAKSIMIR", "SIGET","SPANSKO"];
            $("#zg").on("submit", function (e) {

                e.preventDefault();
                //var myObject = $('#zg').serialize();

                $.ajax({
                    url: '@Url.Action("zagrebPost", "zagrebmetro")', // "/Distance/distance",
                    data: JSON.stringify({ "stations": myObject }), //$('#distanceStations').serialize()
                    type: "POST",
                    async: true,
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        $("#result").html(data);
                        console.log("bok");
                    }
                });


            });

        });


    </script>
    
} 


