@model  List<string>


@{
    ViewBag.Title = "Distance";
}

 @using (Html.BeginForm("distance", "Distance", FormMethod.Post, new { id = "distanceStations" }))
 {   <p>Input stations:</p>
     
    <br />
    @:First station @Html.TextBoxFor(x => x[0])<br/>
    @:Second station @Html.TextBoxFor(x => x[1])<br />
    @:Third station @Html.TextBoxFor(x => x[2])<br/>
    @:Fourth station @Html.TextBoxFor(x => x[3])<br />
    @:Fifth station @Html.TextBoxFor(x => x[4])<br />
   
    
    <input type="submit" value="Get distance" />
    
}

<br>

<div id = "result">





</div>

@foreach(var a in TempData){
 <p><b>Metro:</b> @a.Value.GetHashCode() <b>Vrijeme:</b>    @TempData["CurrentDateTime"] </p> }
<p><b></b></p>




@section scripts{

    
    <script type="text/javascript">
        $(function () {

            //var myObject =["MAKSIMIR", "SIGET","SPANSKO"];
            $("#distanceStations").on("submit", function (e) {

                e.preventDefault();
                var myObject = $('#distanceStations').serialize();

                $.ajax({
                    url: '@Url.Action("distance", "Distance")', // "/Distance/distance",
                    data: JSON.stringify({"stations": myObject}), //$('#distanceStations').serialize()
                    type: "POST",

                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        $("#result").html(data);
                    }
                });


            });

        });
    

    </script>
    
} 